/* checkbox - each time slot */
.time-slot               {  }

/* hide the checkbox itself - the label will be styled */
.time-slot input     { 
  display:none; 
}

/* default styling for our labels */
.time-slot label     { 
  padding:10px 20px; 
  color:#FFF; 
  cursor:pointer; 
  background:green; 
  border-radius:5px; 
}